/**
 * @file
 * Card listing view on the default home page.
 */

.block-views-promoted-cards-block {
  padding-bottom: 2rem;
}

.block-views-promoted-cards-block .views-view-grid-cols-3 {
  grid-template-columns: repeat(1, 1fr);
}

.view-promoted-cards .views-grid-box {
  margin: 1rem 0;
  padding: 0 0 1rem 0;
  border: 1px solid;
}

.view-promoted-cards {
  padding-left: 0;
  padding-right: 0;
}

.view-promoted-cards .views-field {
  padding: 0 1rem;
}

.view-promoted-cards .views-field-field-image {
  padding: 0;
}
@media (min-width: 48em) {
  .block-views-promoted-cards-block .views-view-grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
